<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} %L- %msg%n"/>
        </Console>
        <RollingFile name="RollingFile" fileName="C:\Users\srishameli.nahamani\Desktop\log\student_application.log"
                     filePattern="C:\Users\srishameli.nahamani\Desktop\log\student_application-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} %L- %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <logger name = "org.hibernate" level="off" additivity = "false">
            <AppenderRef ref ="Console"/>
            <AppenderRef ref = "RollingFile"/>
        </logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>